@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient-right-to-left {
  @apply text-transparent;

  /* Specify the gradient colors */
  background-image: linear-gradient(to left, #2f2f35, #7600BC, #2f2f35, #7600BC, #2f2f35, #7600BC, #2f2f35);
  /* White to emerald-600 */
  -webkit-background-clip: text;
  background-clip: text;
}